@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --wine: #c94d57;
  --foreground: #f8f8f8;
  --Gold: #ffd45c;
  --dark: #000000;
  --font-dm-sans: "DM Sans", sans-serif; /* Define DM Sans */
  --font-nunito: "Nunito", sans-serif; /* Define Nunito */
  --font-orbitron: "Orbitron", sans-serif; /* Define Orbitron */
  --font-montserrat: "Montserrat", sans-serif; /* Define Montserrat */
}

@theme {
  --color-wine: var(--wine);
  --color-Gold: var(--Gold);
  --color-foreground: var(--foreground);

  --font-dm-sans: var(--font-dm-sans); /* Use DM Sans in theme */
  --font-nunito: var(--font-nunito); /* Use Nunito in theme */
  --font-orbitron: var(--font-orbitron); /* Use Orbitron in theme */
  --font-montserrat: var(--font-montserrat); /* Use Orbitron in theme */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* globals.css */

/* .bg-custom-lightgray {

    lightgray -73.585px -79.705px / 144.823% 152.788% no-repeat;
} */

/* Utility classes to apply the fonts */
.font-dm-sans {
  font-family: var(--font-dm-sans);
}

.font-nunito {
  font-family: var(--font-nunito);
}

.font-orbitron {
  font-family: var(--font-orbitron);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

body {
  background: linear-gradient(137deg, #000 7.17%, #4f1718 149.29%);
}
